@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .loading-indicator {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .loading-indicator div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #53479b;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .loading-indicator div:nth-child(1) {
    left: 8px;
    animation: loading-indicator1 0.6s infinite;
  }
  .loading-indicator div:nth-child(2) {
    left: 8px;
    animation: loading-indicator2 0.6s infinite;
  }
  .loading-indicator div:nth-child(3) {
    left: 32px;
    animation: loading-indicator2 0.6s infinite;
  }
  .loading-indicator div:nth-child(4) {
    left: 56px;
    animation: loading-indicator3 0.6s infinite;
  }
  @keyframes loading-indicator1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes loading-indicator3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes loading-indicator2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
}

html { 
  background: url(/images/stadium-bg-blur.webp) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* Add the blur effect */
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
}

/* https://superdesigner.co/tools/css-backgrounds */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}